<body class="body-snake">

  <section class="game-container group">
    <figure class="game-board"></figure>
    <!-- <section class='scores'>
      <ul class="score-list">
        Recent Scores
      </ul>
    </section> -->
  </section>
  <script>
  (function() {
    new SnakeGame.View($(".game-board"));
  })();
  </script>
</body>
